@font-face {
    font-family: 'digital-7';
    src: url("digital-7.ttf");
}

body {
    color: #96c6a9;
    background-color: #111;
    font-size: 50px;
    font-family: digital-7;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 278px;
}